/* univerzális szelektor */
* {
    color: green;
}

/* tipus szelektor */
h1 {
    color: red;
}

/* leszármazott */
div p {
    background-color: rosybrown;
}

/* közvetlen gyermek */
div > p {
    background-color: purple;
}

/* Közvetlen testvére */

p + p {
    background-color: aqua;
}